<!DOCTYPE html>
<html lang="en">

<head class="headHome">
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Configuración de Perfil</title>
  <link rel="icon" type="image/png" href="../assets/img/Book&Bugs_Logo.png" />
  <link rel="stylesheet" href="../assets/css/configProfile.css" />
  <link rel="stylesheet" href="../assets/css/style.css" />
  <script type="module" src="../assets/js/configProfile.js"></script>
</head>

<body>
  <header class="main-header">
    <nav class="nav-container">
      <a href="main.html" class="logo-link">
        <img src="../assets/img/Book&Bugs_Logo.png" alt="Logo" class="logo">
      </a>

      <div class="welcome-text">Bienvenido</div>

      <div class="search-group">
        <form id="searchForm">
          <input type="text" id="search-input" placeholder="Buscar Título, Autor o ISBN" autocomplete="off">
          <div id="suggestionsList" class="suggestions-list"></div>
        </form>
        <button class="search-clear-btn" id="clearBtn">x</button>
      </div>

      <ul class="nav-menu">
        <li><a href="login.html" class="nav-link">Iniciar Sesión</a></li>
        <li><a href="#" class="nav-link" id="opcionesLink">Opciones</a></li>
        <li><a href="#" class="nav-link" id="btnLogout">Cerrar Sesión</a></li>
        <li><a href="ordersHistory.html" class="nav-link">Historial de Compras</a></li>
        <li><a href="#" class="nav-link">volver</a></li>
      </ul>
    </nav>
  </header>

  <main class="mainHome">
    <section class="hero-section">
      <img src="../assets/img/mountainHorizontal.jpg" alt="Photo of mountains" class="mainPic" />

      <aside class="saveDataBox">
        <h1>Prepara tus datos para el próximo viaje</h1>
        <div class="buttons">
          <button id="adjustData" class="adjustData">Ajustar mis datos</button>
        </div>
      </aside>
    </section>

    <div id="adminPanelSection" class="adminPanelSection">
      <div class="adminPanelContainer">
        <div class="panelHeader">
          <h2>Gestión de Usuarios</h2>
        </div>

        <table class="adminTable" id="adminTable">
          <thead>
            <tr class="adminTableHead">
              <th>Usuario</th>
              <th>Nombre Completo</th>
              <th>Email</th>
              <th>Acciones</th>
            </tr>
          </thead>
          <tbody id="adminTableBody">
          </tbody>
        </table>
        <template id="userRowTemplate">
          <tr>
            <td class="col-username"></td>
            <td class="col-fullname"></td>
            <td class="col-email"></td>
            <td class="col-actions" style="display: flex; gap: 10px;">
              <button class="saveBtn btn-edit" style="padding: 5px 10px; font-size: 0.9rem;">Editar</button>
              <button class="deleteBtn btn-delete"
                style="padding: 5px 10px; font-size: 0.9rem; color: #d9534f; border-color: #d9534f;">Borrar</button>
            </td>
          </tr>
        </template>
      </div>
    </div>

    <div id="modifyUserPopupAdmin" class="modal-overlay">
      <div class="popupCard">
        <button type="button" class="close-card-btn" id="closeUserModal">×</button>

        <h2 class="form-title">Editar Usuario</h2>
        <form class="profileForm" id="profileFormUser">
          <div class="form-grid">
            <div class="form-floating"><input type="text" id="firstNameUser" placeholder=" " /><label
                for="firstNameUser">Nombre</label></div>
            <div class="form-floating"><input type="text" id="lastNameUser" placeholder=" " /><label
                for="lastNameUser">Apellido</label></div>
            <div class="form-floating full-width"><input type="email" id="emailUser" placeholder=" " /><label
                for="emailUser">Email</label></div>
            <div class="form-floating"><input type="text" id="usernameUser" placeholder=" " disabled /><label
                for="usernameUser">Usuario</label></div>

            <button type="button" id="changePwdBtn" class="changePwdBtn">Cambiar Contraseña</button>

            <div class="form-floating"><input type="tel" id="phoneUser" placeholder=" "/><label
                for="phoneUser">Teléfono</label></div>
            <div class="form-floating">
              <select id="genderUser">
                <option value="Man">Hombre</option>
                <option value="Female">Mujer</option>
                <option value="Other">Otro</option>
              </select>
              <label for="genderUser">Género</label>
            </div>
            <div class="form-floating full-width"><input type="text" id="cardNumberUser" placeholder=" " /><label
                for="cardNumberUser">Número de Tarjeta</label></div>
            <div class="form-floating full-width"><input type="text" id="directionUser" placeholder=" " /><label
                for="directionUser">Dirección</label></div>
          </div>

          <div class="actions">
            <button id="deleteBtn" class="deleteBtn" type="button">Eliminar Cuenta</button>
            <button class="saveBtn" type="button" id="saveBtnUser">Guardar Cambios</button>
          </div>
        </form>
      </div>
    </div>

    <div id="modifyAdminPopup" class="modal-overlay">
      <div class="popupCard">
        <button type="button" class="close-card-btn" id="closeAdminModal">×</button>

        <h2 class="form-title">Editar Administrador</h2>
        <form class="profileForm" id="profileFormAdmin">
          <div class="form-grid">
            <div class="form-floating"><input type="text" id="firstNameAdmin" placeholder=" " /><label
                for="firstNameAdmin">Nombre</label></div>
            <div class="form-floating"><input type="text" id="lastNameAdmin" placeholder=" " /><label
                for="lastNameAdmin">Apellido</label></div>
            <div class="form-floating full-width"><input type="email" id="emailAdmin" placeholder=" " /><label
                for="emailAdmin">Email</label></div>
            <div class="form-floating"><input type="text" id="usernameAdmin" placeholder=" " disabled /><label
                for="usernameAdmin">Usuario</label></div>

            <button type="button" id="changePwdBtnAdmin" class="changePwdBtn">Cambiar Contraseña Admin</button>

            <div class="form-floating"><input type="number" id="phoneAdmin" placeholder=" " /><label
                for="phoneAdmin">Teléfono</label></div>
            <div class="form-floating"><input type="tel" id="profileCodeAdmin" placeholder=" " disabled /><label
                for="profileCodeAdmin">Código Perfil</label></div>
            <div class="form-floating full-width"><input type="text" id="currentAccountAdmin" placeholder=" " /><label
                for="currentAccountAdmin">Cuenta Bancaria</label></div>
          </div>

          <div class="actions">
            <button id="saveBtnAdmin" class="saveBtn" type="button">Guardar Cambios</button>
          </div>
        </form>
      </div>
    </div>

    <dialog id="verifyPasswordModal" class="changePasswordModal modal-dialog small-modal" closedby="any">
      <button type="button" class="close-pass-btn" command="close" commandfor="verifyPasswordModal">×</button>
      <h2>Control de Seguridad</h2>
      <p class="modal-desc">Por seguridad, introduce tu contraseña actual.</p>
      <form id="verifyPasswordForm">
        <div class="form-floating full-width">
          <input type="password" id="verifyCurrentPassword" required placeholder=" " />
          <label for="verifyCurrentPassword">Contraseña Actual</label>
        </div>
        <div class="actions modal-actions">
          <button type="button" class="deleteBtn" command="close" commandfor="verifyPasswordModal">Cancelar</button>
          <button type="submit" class="saveBtn">Siguiente</button>
        </div>
      </form>
    </dialog>

    <dialog id="changePasswordModal" class="changePasswordModal modal-dialog small-modal" closedby="any">
        <button type="button" class="close-pass-btn" command="close" commandfor="changePasswordModal">×</button>
        <h2>Cambiar Contraseña</h2>
        <form id="changePasswordForm">
          <div class="form-floating full-width" style="margin-bottom:20px;">
            <input type="password" id="newPassword" required placeholder=" " />
            <label for="newPassword">Nueva Contraseña</label>
          </div>
          <div class="form-floating full-width">
            <input type="password" id="confirmNewPassword" required placeholder=" " />
            <label for="confirmNewPassword">Confirmar Contraseña</label>
          </div>
          <div class="actions modal-actions">
            <button type="submit" class="saveBtn full-width-btn">Confirmar</button>
          </div>
        </form>
      </div>
  </main>

  <footer>
    <div class="brand-col">
      <img src="../assets/img/Book&Bugs_Logo.png" alt="Logo" width="100">
      <p class="desc">
       Donde cada página es un nuevo destino. En BOOK & BUGS, creemos que hay un libro perfecto para cada persona. Explora nuestra selección curada que va desde los clásicos que definieron épocas hasta los bestsellers que están marcando el hoy. Tu próxima gran historia te está esperando.
      </p>
    </div>
    <ul class="footerList">
      <li class="listTitle">Contacto</li>
      <li>Dirección: xxxxxxx, xxx, xxx</li>
      <li>Teléfono: +34 678 439 478</li>
      <li>Email: ejemplo@gmail.com</li>
      <li>Horario: L-V 8:00-14:25</li>
    </ul>
    <ul id="footerLink">
      <li class="listTitle">Enlaces útiles</li>
      <li>Inicio</li>
      <li>Servicios</li>
      <li>Acerca de nosotros</li>
    </ul>
    <div class="map">
      <p class="listTitle">Ubicacion</p>
      <iframe
        src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2903.4665578500917!2d-2.9767551238415364!3d43.30449177112096!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0xd4e5a896ea04725%3A0x42b47eab7fd92f60!2sC.%20Tartanga%2C%204%2C%2048950%20Erandio%2C%20Vizcaya!5e0!3m2!1ses!2ses!4v1761209636743!5m2!1ses!2ses"
        width="300" height="200" style="border: 0" allowfullscreen="" loading="lazy"
        referrerpolicy="no-referrer-when-downgrade"></iframe>
    </div>
    <p class="copyright">© 2025 [PH]. Todos los derechos reservados</p>
  </footer>
</body>

</html>